
<div class="row">
   <div class"col" id="center">
   <div><h1>LOG IN</h1></div>
    </div>
</div>

<div class="row">
   <div class"col" id="center">
   <p id="alert"><%= alert %></p>
    </div>
</div>


<div class="row">

   <div class"col" id="center">

   <%= form_tag sessions_path do %>
     <div class="field">
      <div class="form-control-label"><%= label_tag :username %></div>
       <br/>
       <div class="form-control-label"><%= text_field :username, params[:username] %></div>
     </div>
     <br/>
     <div class="field">
       <div class="form-control-label"><%= label_tag :password %></div>
       <br/>
       <div class="form-control-label"><%= password_field_tag :password %></div>
     </div>
     <br/>
     <div class="actions"><%= submit_tag "LOG IN" %></div>
   <% end %>
    </div>
</div>


