



<div class="row">
<div class"col" id="center">
<%= form_for @story do |f| %>
    <div class="form-group">
    <%= f.label :title, { :class => "form-control-label"} %>
    <%= f.text_area :title, { :class => "form-control"} %>
    </div>
    <div class="form-group">
    <%= f.label :description, { :class => "form-control-label"} %>
    <%= f.text_area :description, { :class => "form-control big"} %>
    </div>

<div><%= f.submit :Submit, {:class => "submit-btn"} %></div>
<% end %>
 </div>
</div>



