<p id="notice"><%= notice %></p>

<p>
  <strong>username:</strong>
  <%= @story.username %>
</p>

# <p>
#   <strong>Bedrooms:</strong>
#   <%= @house.bedrooms %>
# </p>





<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>